extends layout

block content
  h1= title
  p Welcome to #{title}, a simple NodeJS demo app based on Express, Jade and MongoDB.
  p Here are a couple of the links:
    ul
      li #[a(href="./helloworld") Classic Hello World Page]
      li #[a(href="./user/new") Create a New User]
      li #[a(href="./user/list") Get a List of Users]
      li #[a(href="./user/search") Search for a User]

  p #[a(href="https://github.com/kenahrens/nodetest2") Source on GitHub]
  