extends layout

block content
    h1.
        User List
    p User list count #{userlist.length}
    ul
        each user, i in userlist
            li
                a(href="./#{user._id}")= user.username
